<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="-/media/Themes/WellStar/Org/WellStarOrg/WellStarTheme/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Weather App</title>
</head>
<body>
    <form action="/paris" method="post">
        <div class="wrapper">
            <div class="navbar">
              <div class="menu">
                <ul>
                  <li>Weather API</li>
                </ul>
              </div>
              <div class="searchbar">
                <input type="text" name="cityName" placeholder="Search for a city">
                <div class="icon">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
    </form>
   
    <br>
    <br>


    <div class="gallery">
    <div class="content" style="background-color: aliceblue;">

        <h1 name="tb"><%= city %></h5>
        <img name="tm" src="<%= igu %>">
        <h3 name="ts"><%= des %></h3>
        <br>
        <hr class="rounded">
        <span style="white-space: 2px;">Tempreature</span>
        <p name="tc"><%= t %> F</p>
        <hr class="rounded">
        <span style="white-space: 2px;">Minimum Temp</span>
        <p name="tp" style="font-size: large;"><%= tm %> F</p>
        <hr class="rounded">
        <span style="white-space: 2px;">Maximum Temp</span>
        <p><%= tma %> F</p>
        <hr class="rounded">
        <span style="white-space: 2px;">Humidity</span>
        <p><%= hu %> F</p>
        <hr class="rounded">
    
    <br>

    <a style="text-decoration: none; color: #ffffff;" href="/" class="buy-1">Return</a>
    </div>
    </div>


    <div class="footer-basic">
            
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
  
        <p class="copyright">
            Copyright © 2021
            OpenWeather. All Rights Reserved.<br />
  <br />
  Wellstar does not discriminate on, exclude people or treat them differently on the basis of race, color, national origin, age, disability, sex, gender identity or expression or any other type of discrimination prohibited by law.
    
  </div>




</body>
</html>